@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .mid-circle {
    @apply h-[100px] w-[100px] rounded-full  absolute;
  }

  .small-circle {
    @apply h-[40px] w-[40px] rounded-full absolute;
  }
}

body.active {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.word {
  overflow: hidden;
  vertical-align: bottom;
}

.images-container.active {
  overflow: visible;
}

@media (max-width: 800px) {
  .zoom-images {
    height: 500px;
    width: 500px;
  }
}
