@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .mid-circle {
    @apply h-[100px] w-[100px] rounded-full  absolute;
  }

  .small-circle {
    @apply h-[40px] w-[40px] rounded-full absolute;
  }
}

.word {
  overflow: hidden;
  vertical-align: bottom;
}
